* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

:root{
    --primary-red: hsla(0, 100%, 67%, 1);
    --primary-yellow: hsla(39, 100%, 56%,1);
    --primary-green: hsla(166, 100%, 37%,1);
    --primary-blue:  hsla(234, 85%, 45%,1);
    --gradient-background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    --gradient-circle: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    --neutral-white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

p {
    font-size: 18px;
    font-weight: 500;
}

.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 50vw;
    border-radius: 25px;
    box-shadow: 15px 15px 5px var(--pale-blue);
}


.card.left {
    height: 100%;
    width: 50%;
    background-image: var(--gradient-background);
    color: var(--neutral-white);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-image: var(--gradient-circle);
}

.score h2{
    font-size: 72px;
    font-weight: 800;
}

.score p {
    color: var(--light-lavender);
}

.comment {
    text-align: center;
    width: 75%;
    color: var(--light-lavender);
}


.card.right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.category {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.category div {
    display: flex;
    gap: 10px;
}

#visual {
    color: var(--primary-blue);
}

#verbal {
    color: var(--primary-green);
}

#memory {
    color: var(--primary-yellow);
}

#reaction {
    color: var(--primary-red);
}

.total {
    color: var(--light-lavender)
}

.reaction {
    padding: 15px;
    border-radius: 5px;
    background-color: hsla(0, 100%, 67%, 0.1);
}

.verbal {
    padding: 15px;
    background-color: hsla(166, 100%, 37%,0.1);
    border-radius: 5px;
}

.visual {
    padding: 15px;
    background-color: hsla(234, 85%, 45%,0.1);
    border-radius: 5px;
}

.memory {
    padding: 15px;
    background-color: hsla(39, 100%, 56%,0.1);
    border-radius: 5px;
}

.card.right button {
    margin-bottom: 25px;
    border: 0;
    width: 80%;
    font-size: 18px;
    padding: 15px 0;
    background-color: var(--dark-gray-blue);
    color: var(--neutral-white);
    border-radius: 50px;
    transition: 0.5s ease-in;
}

.card.right button:hover {
    cursor: pointer;
}

.card.right button:active{
   background-image: var(--gradient-background);
}